@model HotelsServices.ViewModels.Home.SearchVM

<form id="search-form" asp-action="Search" asp-controller="Home">
    <div class="row">
        <div class="col-xs-4 form-group">
            <label>City</label>
            <input type="text" id="cities-ddl" asp-for="CityId">
        </div>
        <div class="col-xs-4 form-group">
            <label>Hotel</label>
            <input type="text" id="hotels-ddl" asp-for="HotelId">
        </div>
        <div class="col-xs-4">
            <input type="submit" class="btn btn-primary" value="Избери" style="margin-top: 28px;" />
        </div>
    </div>
</form>

@section scripts {
    <script>
        $(document).ready(function () {
            createSelect2('#cities-ddl', '/api/Cities');
            createSelect2('#hotels-ddl', '/api/Hotels', '#cities-ddl');
        });
    </script>
}

